development:
  adapter:  postgresql
  host:     localhost
  encoding: unicode
  database: keystore_id_development
  pool:     5
  username: developer
  password: mysuperpass
  template: template0

test:
  adapter:  postgresql
  host:     localhost
  encoding: unicode
  database: keystore_id_test
  pool:     5
  username: developer
  password: mysuperpass
  template: template0

production:
  adapter:  postgresql
  host:     localhost
  encoding: unicode
  database: keystore_id_production
  pool:     5
  username: developer
  password: mysuperpass
  template: template0
